body{
    background-image:url('hands.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-image:cover;
    margin-top:auto;

}
.container{
    background-color:rgba(10, 0, 0, 0.35);
    max-width:1200px;
    margin-top:20px;
    margin-bottom:20px;
    border-radius:5px;
}
.btn-primary{
   width:auto;
   padding-left:50px;
   padding-right:50px;

 }

 .container h1{
     border-bottom: 1px solid white;
 }

#name.form-control{
    width:75%;

}

#photo.form-control{
    width:75%;

}

a{
	color:white;
	
}

h4{
    font-size: 2vh;
}